* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-width {
  width: 70%;
  max-width: 850px;
  min-width: 570px;
  text-align: center;
}

/* HEADER */
header {
  height: 450px;
  padding: 20px;
  background-color: #333;
  color: white;
}

h1 {
  margin-bottom: 1em;
  font-size: 2rem;
  font-weight: bold;
}

.header-paragraph {
  margin-bottom: 1.5em;
  font-size: 1.1rem;
}

.header-link {
  padding: 10px 20px;
  border: 1px solid white;
  font-size: 1.1rem;
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: #eaeaea;
  color: #333;
}

/* SECTION 1 */
.web-app-dev {
  margin: 0 auto;
  padding: 25px 20px;
  padding-bottom: 50px;
  background-color: #eaeaea;
  color: #333;
}

h2 {
  padding: 1em;
  font-size: 1.7rem;
  font-weight: bold;
}

.multi-column-text {
  column-width: 400px;
  column-gap: 2em;
  font-size: 1.1rem;
}

/* SECTION 2 */
.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: #333;
  color: white;
}

.services-items {
  width: 22%;
  min-height: 300px;
  height: auto;
  margin: 0 10px;
  padding: 40px 20px;
  border: 1px solid white;
  background-color: white;
  color: #333;
}

.services-items h3 {
  margin-bottom: 2em;
  font-size: 1.3rem;
  font-weight: bold;
}

.services-items p {
  font-size: 1.1rem;
}

/* SECTION 3 */
.promo-block {
  width: 70%;
  margin: 0 auto;
  padding: 50px 20px;
  font-size: 1.1rem;
}

/* SECTION 4 */
.more-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  color: white;
}

.contacts,
.about-us {
  width: 50%;
  padding: 35px;
}

.contacts {
  background-color: #2690d4;
}

.mail-link {
  border: none;
  color: inherit;
  text-decoration: none;
}

.about-us {
  background-color: #333;
}

.more-about h3 {
  padding: 1em;
  font-size: 1.7rem;
  font-weight: bold;
}

.more-about p {
  padding: 1em;
  font-size: 1.1rem;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-around;
  padding: 35px;
  font-size: 1.1rem;
  background-color: black;
  color: white;
}

.project-by {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.traversy-media-link {
  color: inherit;
  text-decoration: none;
}
