* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* HEADER */
header {
  background-color: #333;
  color: white;
  height: 450px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrap {
  width: 70%;
  max-width: 850px;
  text-align: center;
}

h1 {
  margin-bottom: 1em;
  font-size: 2rem;
  font-weight: bold;
}

p {
  margin-bottom: 1.5em;
  font-size: 1.1rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 1.1rem;
}

a:hover {
  color: #333;
  background-color: white;
}

/* SECTION 1 */
.section-1 {
  padding: 30px 20px;
  margin: 0 auto;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 1em;
}

.multi-column-text {
  width: 70%;
  column-count: 2;
  max-width: auto;
  column-gap: 2em;
  text-align: center;
}

/* SECTION 2 */
.section-2 {
  background-color: #f4f4f4;
  padding: 30px 20px;
  margin: 0 auto;
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
