* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  padding: 20px;
  background-color: #333;
  color: white;
}

.content-wrapper-header {
  width: 70%;
  max-width: 850px;
  text-align: center;
}

h1 {
  margin-bottom: 1em;
  font-size: 2rem;
  font-weight: bold;
}

.header-paragraph {
  margin-bottom: 1.5em;
  font-size: 1.1rem;
}

.header-link {
  padding: 10px 20px;
  border: 1px solid white;
  font-size: 1.1rem;
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: #eaeaea;
  color: #333;
}

/* SECTION 1 */
.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 25px 20px;
  padding-bottom: 50px;
  background-color: #eaeaea;
  color: #333;
}

h2 {
  padding: 1em;
  font-size: 1.7rem;
  font-weight: bold;
}

.multi-column-text {
  width: 70%;
  max-width: auto;
  column-count: 2;
  column-gap: 2em;
  font-size: 1.1rem;
  text-align: center;
}

/* SECTION 2 */
.section-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: #333;
  color: white;
}

.content-wrapper-section-2 {
  width: 22%;
  min-height: 300px;
  height: auto;
  margin: 0 10px;
  padding: 40px 20px;
  border: 1px solid white;
  background-color: white;
  color: #333;
}

.content-wrapper-section-2 h3 {
  margin-bottom: 2em;
  font-size: 1.3rem;
  font-weight: bold;
}

.content-wrapper-section-2 p {
  font-size: 1.1rem;
}

/* SECTION 3 */
.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 50px 20px;
  font-size: 1.1rem;
  text-align: center;
}

/* SECTION 4 */
.section-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  color: white;
}

.content-wrapper-section-4-A,
.content-wrapper-section-4-B {
  width: 50%;
  padding: 35px;
}

.content-wrapper-section-4-A {
  background-color: #2690d4;
}

.mail-link {
  border: none;
  color: inherit;
  text-decoration: none;
}

.content-wrapper-section-4-B {
  background-color: #333;
}

.section-4 h3 {
  padding: 1em;
  font-size: 1.7rem;
  font-weight: bold;
}

.section-4 p {
  padding: 1em;
  font-size: 1.1rem;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-around;
  padding: 35px;
  font-size: 1.1rem;
  background-color: black;
  color: white;
}
